<div class='linkblock text-align-{{ .Get "align" }}'>
    <a href='{{ .Get "href" }}'>
        <img src='{{ .Get "img" }}' class='text-align-{{ .Get "align" }}'>
        <div class='caption text-align-{{ .Get "align" }}'>
            <p class="linkblock-read">Read on</p>
            <p class="linkblock-section">{{ .Get "section" }}</p>
            <p class="linkblock-text">{{ .Get "text" }}</p>
        </div>
    </a>
</div>
