#community {

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3{
    font-size: 24px;
  }

  .warning{
    color: $warning-button-text;
  }

  .get-notified {
    padding-left: 20px;
    @media screen and (max-width: 39.9375em) {
      display: block;
      text-align: center;
      width: 100%;
      padding: 20px 0 0;
    }
  }

  .button.tiny {
    font-size: 14px;
  }

  .community-value-props{
    margin-top: 1vw;
  }

  .community-value-props input{
    color: $community-value-props-input-text;
    font-family: $circularbook-font-family;
    background: $community-value-props-input-bg;
    border: none;

	  &::-webkit-input-placeholder {
	    /* Chrome/Opera/Safari */
	    padding-left: 10px;
	    color: $community-value-props-input-text;
	  }

	  &::-moz-placeholder {
	    /* Firefox 19+ */
      padding-left: 10px;
      color: $community-value-props-input-text;
	  }

	  &:-ms-input-placeholder {
	    /* IE 10+ */
      padding-left: 10px;
      color: $community-value-props-input-text;
	  }

	  &:-moz-placeholder {
	    /* Firefox 18- */
      padding-left: 10px;
      color: $community-value-props-input-text;
	  }
  }

  .callout {
    min-height: 210px;
    line-height: 24px;
    @media screen and (min-width: 64em) {
      height: 280px;
    }
  }

  .blog-post {
    padding-bottom: 10px;
    overflow: hidden;
  }

  .callout-img1 {
    width: 185px;
    &.large {
      top: -30px;
      right: 20px;
      position: absolute;
    }
  }

  .callout-img2 {
    width: 170px;
    &.large {
      right: 5px;
      bottom: -69px;
      position: absolute;
    }
  }

  .main {
    min-height: 800px;
    background: $sidebar-bg;
  }

  .sidebar {
    margin-top: 20px;

    .title {
      font-weight: bold;
      font-size: 0.8em;
    }

    li {
      a {
        padding-left: 0;
        font-weight: normal;
        padding-top: 0.5rem 1rem;
        padding-bottom: 0.5rem 1rem;
        line-height: 1;
        font-size: 0.9em;
      }
    }
  }

  .content {
    background: $primary-nav-fg;
    min-height: 800px;
  }

  .events{
    .event-block-right {
      img {
        border-radius:100%;
      }
    }

    .visit-the-blog {
      margin: 20px 0 0;
    }
  }

  .profile {
    display: none;
  }

  section{
    padding-top: 1vw;
    padding-bottom: 1vw;
    &.events{
      margin-top: 5vw;
    }
  }
}
