.center {
  text-align: center;
}

footer#footer {
  a:hover {
    text-decoration: none;
  }

  .footer-bar {
    padding-top: 40px;
    height: 117px;

    .footer-bar-left {
      float: left;
      a {
        cursor:pointer;
      }
      .dropdown.menu li {
        font-size: 32px;
      }
    }
    .footer-bar-right {
      float: right;
      .dropdown.menu {
        font-family: $circularbook-font-family;
        font-size: 14px;
        }
        a {
          color: #fff;
        }
      }
    }

  .logo {
    background-image: url(/img/atlassian-logo-white.svg);
    display: block;
    position: relative;
    background-size: 152px;
    width: 152px;
    height: 33px;
    cursor: pointer;
    margin-right: 5px;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 39.9375em) {
  footer#footer {
    .footer-bar {
      padding-top: 20px;
      padding-left: 0;
      .footer-bar-left {
        text-align: center;
        float: none;
        a {
          display: inline-block;
        }
      }
      .footer-bar-right {
        text-align: center;
        float: none;
        ul {
          display: inline-block;
        }
      }
    }
  }
}


@media screen and (max-width: 25em) {
  footer#footer {
    .footer-bar-right {
      ul {
        li {
          a {
            padding: 0.7rem 0.2rem;
          }
        }
      }
    }
  }
}

