$showcase-content-width: 942px;
$showcase-banner-width: 1440px;
$showcase-banner-height: 372px;
$showcase-content-padding-left: 80px;
$showcase-heading-width: $showcase-content-width - $showcase-content-padding-left;
