.center {
  text-align: center;
}

section {
  background: white;
}

.white {
  color: white;
}
.carousel-link {
  color: white;
  display: inline-block;
}

#homepage {
  .home-hero {
    background: $primary-nav-bg;
    background-image: url("/img/blocks-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 75px;
    .heading{
      background: transparent;
      .illustration-header-left{
        height: 100px;
        width: 300px;
        display: block;
        background-image: url(/img/illustration-header-left.png);
        background-repeat: no-repeat;
        z-index: 0;
        background-size: 10%;
        position: relative;
        top: -12px;
      }
      .illustration-header-right{
        height: 500px;
        width: 446px;
        display: block;
        background-image: url(/img/illustration-header-right.png);
        background-repeat: no-repeat;
        z-index: 0;
        position: relative;
        top: -249px;
        right: -70%;
      }

    }
    .orbit{
      margin-top: 60px;
      h1{
        font-size: 38px;
        line-height: 50px;
      }
      h4{
        &.title{
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
      .orbit-container{
        &:focus{
          outline: none;
        }
      }

      .orbit-slide{
        &:focus{
          outline: none;
        }
        .no-js &:not(.is-active) {
          display: none;
        }
      }

      .orbit-bullets{
        top: 0px;
        padding-top: 0;
        margin: auto;
        width: 200px;

        button{
          background-color: white;
          pointer-events: auto;
          width: .75rem;
          height: .75rem;
          &:focus{
            outline: none;
          }

        }
        .is-active{
          background: #8AAEE5;
        }

        .button{
          background-color: white;
          pointer-events: auto;
          width: .75rem;
          height: .75rem;
        }
      }
    }
  }

  .main {
    min-height: 800px;
    background: $sidebar-bg;

    .sidebar {}
  }

  .sidebar {
    margin-top: 20px;

    .title {
      font-weight: bold;
      font-size: 0.8em;
    }

    li {
      a {
        padding-left: 0;
        font-weight: normal;
        padding-top: 0.5rem 1rem;
        padding-bottom: 0.5rem 1rem;
        line-height: 1;
        font-size: 0.9em;
      }
    }
  }

  .content {
    background: $primary-nav-fg;
    min-height: 800px;
  }

  .profile {
    display: none;
  }

  section{
    padding-top: 30px;
    padding-bottom: 30px;
    .center{
      .button{
        background-color: $footer-cta-button;
        border-radius: 3px;
        color: #081E42;
      }
    }
  }

  .events{
    .illustration-events-left{
      height: 500px;
      width: 700px;
      display: block;
      background-image: url(/img/illustration-events-left.png);
      background-repeat: no-repeat;
      background-size: 220px;
      z-index: 0;
      position: relative;
      top: 192px;
      right: 178px;

    }

    .event-block-right{
      img{
        height: 92px;
        min-width: 92px;
        margin: 0 auto 30px;
        display: block;
        padding: 12px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
      }
      .link-arrow {
        display: inline-block;
      }
    }
  }

  .footer-cta{
    padding-top: 50px;
    background-color: $footer-cta-bg;
    min-height: 673px;
    background-image: url("/img/footer-cta-bg.png");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 1440px;

    .button{
      background-color: $footer-cta-button;
    }
  }

  footer {
    background: $primary-nav-bg;
    height: 48px;

    .logo {
      background-image: url("/img/atlassian-logo-white.svg");
      background-size: 96px;
      background-color: transparent;
      display: block;
      width: 96px;
      position: relative;
      margin-right: 5px;
      background-repeat: no-repeat;
    }

    .social {
      width: 153px;
      height: 33px;
      background: grey;
    }
  }
}

/*Small only to 400px*/
@media screen and (max-width: 25em) {
  img.left {
    max-height: 100px;
  }
  #homepage {
    .home-hero {
      padding-bottom: 25px;
      .orbit {
        margin-top: 10px;
        .orbit-container {
          min-height: 330px;
        }
      }
      .orbit h1 {
        font-size:24px;
        line-height: 40px;
      }
      .orbit-container {
        quote {
          display: none;
        }
      }
    }
  }
}

/* Small  more than 400px to 640px*/
@media screen and (min-width: 25em) and (max-width: 39.9375em) {
  img.left {
    max-height: 100px;
  }
  #homepage {
    .home-hero {
      padding-bottom: 25px;
      .orbit {
        margin-top: 10px;
      }
      .orbit h1 {
        font-size:30px;
        line-height: 40px;
      }
      .orbit-container {
          height: 315px !important;
          quote {
            display: none;
          }
        }
    }
  }
}

/* Medium and up from 640px*/
@media screen and (min-width: 40em) {
  img.left {
    max-height: 120px;
  }
}

/* Medium only from 640px to 1024px*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #homepage {
    .home-hero {
      .orbit {
        margin-top: 40px;
        .orbit-container {
          min-height: 300px;
        }
      }
      .orbit h1 {
        font-size:30px;
        line-height: 40px;
      }
    }
  }
}

/* Large and up more than 1024px*/
@media screen and (min-width: 64em) {
  #homepage {
    .home-hero {
      .orbit {
        .orbit-container {
          min-height: 270px;
        }
      }
    }
  }
}
