#page-not-found {
  .main {
    padding-top: 30px;
    h1 {
      font-size: 48px;
    }
    form {
      position: relative;
      span.aui-iconfont-search {
        position: absolute;
        left: 25px;
        line-height: 40px;
        color: $label-text;
      }
      input.search {
        padding-left: 30px;
      }
    }
  }
}