.center {
  text-align: center;
}

#prod-index {
  .tetris-top-left {
    @include tetris-top-left();
  }
  .tetris-top-right {
    @include tetris-top-right();
  }
  .tetris-mid-right {
    @include tetris-mid-right();
  }
  .centered {
    max-width: 1240px;
  }
  .main {
    background: transparent;
    margin-top: 32px;
    h1 {
      margin-bottom: 15px;
      font-size: 48px;
      margin-bottom: 62px;
    }
    p {
      font-size: 18px;
    }
  }
  #sections {
    .see-more-check {
      display: none;
    }
    .see-more-wrap {
      display: none;
      margin-bottom: 0px;
    }
    .see-more-check:checked ~ .see-more-wrap {
      display: block;
    }
    .see-more-check ~ .see-more-trigger:before {
      content: 'See more...';
    }
    .see-more-check:checked ~ .see-more-trigger:before {
      content: 'See less';
    }
    .see-more-trigger {
      cursor: pointer;
      display: inline-block;
      color: #165ECC;
    }
    .apis-list {
      margin-bottom: 0px;
    }
    h3 {
      font-family: $circularbold-font-family;
      color: $nav-item;
      font-size: 24px;
      margin-bottom: 20px;
    }
    ul {
      margin-left: 0px;
      li {
        margin: 8px 0 8px 0;
        list-style: none;
        a {
          &:hover{
            text-decoration: underline;
          }
        }
        a.external-link {
          @include external-link();
        }
      }
    }
    li.title {
        color: $heading-3;
        font-size: 14px;
        font-family: $circularbold-font-family;
    }
  }
}

@media screen and (max-width: 23em) {
  #prod-index {
    .main {
      h1 {
        font-size: 40px;
      }
    }
  }
} 
