$accordionmenu-arrows: false;
$adg3-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
$circularbold-font-family: 'CircularBold';
$circularbook-font-family: 'CircularBook';