.row.sidebar {
  background: $sidebar-bg;
}

.sidebar {
  width: 100%;
  background: $sidebar-bg;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;

  .title {
    font-family: $circularbold-font-family;
    font-weight: bold;
    font-size: 14px;
    color: $sidebar-title;
    &:hover {
      text-decoration: none;
    }
  }
  .sidebar-selected-item {
    position: relative;
    left: -13px;
    strong {
      display: block;
      overflow: hidden;
      font-family: $circularbold-font-family;
    }
  }
  .selected-mark {
    font-size: 17px;
    float: left;
    width: 13px;

    &::before {
      content: "\2022"
    }
  }

  ul.menu {

    &[data-accordion-menu] {
      a.title {
        padding: 0 0 0 0;
        line-height: normal;
        outline: 0;

        &::after {
          font-family: "aui-iconfont";
          font-size: 22px;
          color: $nav-arrow-color;
          float: right;
        }
      }

      li[aria-expanded="true"] a.title::after {
        content: "\f15b";
      }

      li:not([aria-expanded="true"]) a.title::after {
        content: "\f11c";
      }
    }

    &:last-child {
      border-bottom: none;
    }

    &.always-expand {
      display: block !important;
    }

    li {
      .external-link{
        @include external-link();
      }

      a:not(.title) {
        font-family: $circularbook-font-family;
        padding-left: 0;
        padding-bottom: 0.22rem;
        font-weight: normal;
        line-height: 18px;
        font-size:14px;
      }
      a span {
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

#offCanvasLeft {
  background-color: $sidebar-bg;
  padding-top: 20px;
  .sidebar {
    width: 250px;
  }
}
