 /*In-page table of contents styles  */
 .TOC{
   color: #2B3D5C;
   font-family: inherit;
   margin-top: 8%;
   padding-left:0px;
   padding-right:0px;

   .active{
     color:blue;
     
     &:before{
         content:"{";
         position:absolute;
         left:-10px;
         font-size:16px;
         } 
   }
   .title{
     font-weight:bold;
     font-size: 14px;
     padding-bottom:3px;
   }
   nav
   {  
   ul{
     li{
       font-size: 14px;
       a{
         color:#333333;
         padding-left:0;
         padding-right:0;
         padding-top:3px;
         line-height: 1.1rem;

         &:hover{
           color:#333333;
         
         &:before{
         content:"{";
         position:absolute;
         left:-10px;
         font-size:16px;
         } 
         }

       }
     }
   }
   }
 }