@font-face {
  font-family: aui-iconfont;
  src: url(/font/aui-iconfont.ttf);
}
.blue-background {
  background:#165ECC;
}

.heading.row.large-12.columns {
  background-color: $header-color;
}

.top-bar.level-3 {
  padding-left: 0px;
}

.top-bar {
  background: transparent;
  height: 48px;
  font-family:$circularbook-font-family;
  font-weight: normal;
  font-size: 18px;

  a:hover {
    text-decoration: none;
  }

  .logo {
    z-index: 1;
    background-image: url("/img/atlassian-logo-white.svg");
    background-size: 96px;
    background-color: transparent;
    display: block;
    width: 96px;
    height: 20.4px;
    position: relative;
    float: left;
  }
  .top-bar-left {
    z-index: 10;
    .atlassian-logo {
      float: left;
      padding-top: 11px;
      padding-right: 1vw;
    }
    .leftdropdown {
      display: inline-block;
    }
    ul{
        background-color: transparent;
    }

    .top-bar-menu-mobile {
      li {
        top:-3px;
        ul {
          margin-left: 0px;
        }
      }
      a {
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 1vw;
        padding-right: 0.3vw;
        padding: 0.5rem 0.6rem;
        outline: none;
        &:focus, &:hover {
          color: #fff;
        }
        &.logo-link {
          float: left;
        }
      }
      .is-accordion-submenu {
        padding-bottom: 10px;
        clear: left;
      }
      .logo {
        top: -5px;
      }
    }

    .dropdown.menu {
      ul{
        border: none;
        background-color: transparent;
      }

        > .first-item{
          background-color: transparent;
          height: 47px;
          top: -8px;
          ul {
            li {
              a {
                left: 18px;
              }
            }
          }

            a.first-link{
              top:11px;
            }

          &:hover{

            background-color: $homepage-header-li-bg;

            &:before {
                display: block;
                content: "";
                height: 0;
                width: 0;
                border: 25px solid $homepage-header-li-bg;
                border-left: 9px solid transparent;
                border-top: 71px solid transparent;
                position: absolute;
                left: -18px;
                top: -48px;
            }

            &:after {
                display: block;
                content: "";
                height: 0;
                width: 0;
                border: 25px solid $homepage-header-li-bg;
                border-bottom: 65px solid transparent;
                border-right: 10px solid transparent;
                position: absolute;
                right: -35px;
                top: -42px;
            }

          }
        }

         > li.opens-right > .is-dropdown-submenu {
            right: -24px;
            left: -18px;
            top: 100%;
        }



      > li.is-dropdown-submenu-parent > a::after {
        content: " ";
        font-family: aui-iconfont;
        border: none;
        right: 15px;
        margin-top: -8px
      }

      li.menu-text {
        padding: 0px;
        font-size: 18px;
        color: white;
      }

      li {
        background: $homepage-header-li-bg;
        font-size: 18px;
        border: none;
        &.first {
          height:100px;
        }

        &:hover {
          background: $header-hover;
        }

        &.last {
          border-radius: 0px 0px 5px 5px;

          &:hover {
            border-radius: 0px 0px 5px 5px;
            background: $header-hover;
          }
        }

        a {
          position: relative;
          padding: 0.7rem 1em 0.7em 0;
        }
      }

      input {
        height: 30px;
      }

      a {
        color: white;
      }

    }

    border: none;
    padding: 0;
    position: relative;

    &.top-bar-left-mobile {
      width: 100%;
      & > ul.menu {
        padding-top: 10px;
        height: 55px;
      }
    }
  }

  .top-bar-right {
    ul.menu {
      background: $header-color;

      li {
        a {
          font-family: $circularbook-font-family;
          background: $header-color;
          color: white;
        }

        &:hover {
          background: $header-color;
        }
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 23em) {
  .blue-background {
    .top-bar {
      .top-bar-left {
        .leftdropdown {
          display: block;
        }
        .white {
          padding: 15px 0 5px;
        }
      }
    } 
  }
}