@mixin tetris-top-left() {
  display: block;
  background-image: url(/img/tetris-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 15px;
  top: 100px;
  height: 124px;
  width: 213px;
  z-index: -1;
}
@mixin tetris-top-right() {
  display: block;
  background-image: url(/img/tetris-2.png);
  background-repeat: no-repeat;
  background-size: 75%;
  position: absolute;
  right: 15px;
  top: 200px;
  height: 154px;
  width: 134px;
  z-index: -1;
}
@mixin tetris-mid-right() {
  display: block;
  background-image: url(/img/tetris-3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  right: 15px;
  top: 700px;
  height: 199px;
  width: 159px;
  z-index: -1;
}